/* NAVIGATION SECTION */

.navigation {
    &__checkbox {
        display: none;
    }
    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        z-index: 100; // works only if position is set
        transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
        @include media-query(tablet-port) {
            height: 5rem;
            width: 5rem;
            top: 3.5rem;
            right: 3.5rem;
        }
        @include media-query(phone) {
            height: 4rem;
            width: 4rem;
            top: 3rem;
            right: 3rem;
        }
    }
    &__list {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 200;
        list-style: none;
    }
    &__button {
        position: relative;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        background-color: white;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 200;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
        cursor: pointer;
        @include media-query(tablet-port) {
            height: 6rem;
            width: 6rem;
            top: 3rem;
            right: 3rem;
        }
        @include media-query(phone) {
            height: 5rem;
            width: 5rem;
            top: 2.5rem;
            right: 2.5rem;
        }
    }
    &__nav {
        opacity: 0;
        visibility: hidden;
        transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    &__checkbox:checked~&__background {
        transform: scale(80);
    }
    &__checkbox:checked~&__nav {
        opacity: 1;
        visibility: visible;
    }
    &__item {
        text-align: center;
        margin: 2rem;
        @media screen and (max-width: 26.0625em) {
            margin: 2rem 0;
        }
    }
    &__link {
        display: inline-block;
        padding: 1rem 2rem;
        font-size: 3rem;
        font-weight: 300;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
        background-size: 225%;
        transition: all .4s;
        @media screen and (max-width: 26.0625em) {
            font-size: 2rem;
            padding: 1rem 0;
        }
        &:hover,
        &:active {
            background-position: right; // or background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
        span {
            margin-right: 1.1rem;
            display: inline-block;
        }
        @include media-query(tablet-port) {
            font-size: 2.5rem;
        }
        @include media-query(phone) {
            font-size: 2rem;
        }
    }
    &__span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 50%;
        border-bottom: 2px solid #333;
        &-top {
            transform: translateX(-50%) translateY(-.8rem);
            transition: all .2s ease-out;
        }
        &-bottom {
            transform: translateX(-50%) translateY(.8rem);
            transition: all .2s ease-out;
        }
    }
    &__button:hover &__span-top {
        transform: translateX(-50%) translateY(-1rem);
    }
    &__button:hover &__span-bottom {
        transform: translateX(-50%) translateY(1rem);
    }
    &__checkbox:checked+&__button &__span-middle {
        opacity: 0;
    }
    &__checkbox:checked+&__button &__span-top {
        transform: translate(-50%, -50%) rotate(135deg); // or 45deg
    }
    &__checkbox:checked+&__button &__span-bottom {
        transform: translate(-50%, -50%) rotate(-135deg); // or -45deg
    }
}